@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(../font-awesome/css/font-awesome.css);

/* General styles */
html {
  background: #3498db;
  text-align: center;
  font-family: 'Source Sans Pro', Arial;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 4rem;
  line-height: 1.4em;
}

html, body, section {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  display: table;
}

section {
  display: none;
  vertical-align: middle;
  margin: 0 auto;
}

section.active {
  display: table-cell;
}

section aside {
  display: none;
}

.center {
  margin: 0 auto;
  text-align: center;
}

a:link, a:visited {
  color: #f1c40f;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.gist {
  font-size: 0.5rem;
  line-height: 1.4em;
  text-align: left;
  text-shadow: none;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.gist a:link, .gist a:visited {
  text-shadow: none;
}

body .gist .gist-file .gist-meta, body .gist .gist-file .gist-data .line-numbers {
  background-color: #ecf0f1;
  display: none;
}

body .gist .gist-file .gist-data {
  background-color: #fff;
}

.gist-logo {
  position: absolute;
  bottom: 0;
  right: 2px;
  font-size: 1rem;
}

a.btn {
  background-color: #ffea6f;
  padding: 0.35rem;
  text-decoration: none;
  color: black;
  text-shadow: 0px 1px 3px #fff;
  border-radius: 0.2rem;
  font-weight: bold;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s;
}

a.btn:hover {
  background-color: #fff788;
}

@media all and (max-width: 1000px) {
  html {
    font-size: 3rem;
  }

  body {
    display: block;
  }

  section.active {
    display: block;
  }
}

@media all and (max-width: 800px) {
  font-size: 2rem;
}

@media all and (max-width: 500px) {
  html {
    font-size: 1.5rem;
  }
}